@charset "utf-8"

*,
*::after,
*::before
  border-box: box-sizing

button
  border: 1px solid black
  font-size: 1rem
  outline: none

  &.bs0
    background-color: #369
    padding: 1rem
    color: white
    border-radius: 6px
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3)

h1
  font-size: 2rem
  &.hs0
    background-color: purple
    color: white
    padding: .5rem
