//- filter
  All JSTransformer modules can be used as Pug filters.
  https://www.npmjs.com/search?q=keywords:jstransformer
//-
style(type="css/stylesheet")
  include ./_style.css
  include:sass(Encoding="utf-8") ./_style.sass
