<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sample</title>
</head>
<body>
<div id="wrapper">

  <header id="header">
    <h1 id="message">{{message}}</h1>
    <input type="text" v-model="message">
    <ul>
      <li id="{{*todo.id}}" v-for="todo in todos">{{todo.text}}</li>
    </ul>
    <button @click="clickHandler">333</button>
  </header>

  <div id="container">
    <div>{{{rawHtml}}}</div>
    <p>{{ok ? 1 : 2}}</p>
  </div>

  <my-component></my-component>

</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="sample.js"></script>
</body>
</html>
